
     
     

      
          <div class="button-bar">

            <button
              class="button"
              mwl-date-modifier
              date="vm.viewDate"
              decrement="vm.calendarView">
              Previous
            </button>
            <button
              class="button"
              mwl-date-modifier
              date="vm.viewDate"
              set-to-today>
              Today
            </button>
            <button
              class="button"
              mwl-date-modifier
              date="vm.viewDate"
              increment="vm.calendarView">
              Next
            </button>
        
        </div>
<br>

          <div class="button-bar">
            <label class="button" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
            <label class="button" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
            <label class="button" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
            <label class="button" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
          </div>
       

   
    